{% extends 'base.html' %}
{% load static %}


   

{% block main %}
<main>
   <div class="container">
      <div class="card mb-3">
         <img src="{{ card.image.url }}" class="card-img-top" alt="Wild Landscape" />
         <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">
               {{ card.text }}
            </p>
            <p class="card-text">
               <small class="text-muted">{{ card.price }}</small>
            </p>
         </div>
      </div>
   </div>
</main>
{% endblock main %}
   

   

