{% extends 'base.html' %} <!-- yönlendirir gönderir -->
{% load static %}



{% block main %}
<main>
   <div class="container">
      <ul>
         <h1>ÖDEV</h1>
         <li>cardların fiyatları görüntülensin</li>
         <li>content2nin sağdaki kartın fotoğrafını sola alınıcak ve sağa yaslayın</li>
         <li>Kategorilerimiz yan tarafa yazılsın</li>
      </ul>
      <div class="row" style="height: 400px; box-shadow: 0px 4px 6px -6px #00000090;">
         <div class="col-6 d-flex align-items-center">
            <div class="getstart">
               <img width="100px" style=" transform: rotateY(180deg);" src="{% static 'img/dina.svg' %}" alt="">
               <h3>Nerden Başlıyoruz.</h3>
               <div class="btn btn-primary my-3">Get Started</div>
            </div>
         </div>
         <div class="col-6">
            <img width="100%" height="400px" src="{% static 'img/poly.png' %}" alt="">
         </div>
      </div>
      
      <!-- content 2 -->
      <div class="row mt-3">
         
         {% for i in news2 %}
         
         <div class="col-6 {% if forloop.counter|divisibleby:2 %}d-flex justify-content-end{% endif %}">
            <div class="card mb-3" style="max-width: 540px;">
               <div class="row g-0">
                  <a href="detail/{{ i.id }}" class="col-md-4 {% if forloop.counter|divisibleby:2 %}order-1{% endif %}">
                     <img style="width: 100%; height: 100%; object-fit: cover;" src="{{ i.image.url }}" alt="Trendy Pants and Shoes"
                        class="img-fluid rounded-start" />
                  </a>
                  <div class="col-md-8">
                     <div class="card-body">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">
                           {{ i.text|truncatechars:"50" }}
                        </p>
                        
                        {% if i.category.title == "free" %}
                        <p class="card-text text-success fs-3">Bedava</p>
                        {% else %}
                        <p class="card-text text-success fs-3">₺{{ i.price }}</p>
                        {% endif %}
                        
                           
                        <p class="card-text">
                           <small class="text-muted">{{ i.date_now }}</small>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>

      <!-- CARDS -->
      <div class="row mt-5">
         <div class="row col-9 g-3">
            <h3>Kartlar</h3>
            
            {% for i in news4 %}
            <div class="col-6">
               <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                     <img style="width: 100%; height: 300px; object-fit: cover;" src="{{ i.image.url }}" class="img-fluid" />
                     <a href="detail/{{ i.id }}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                     </a>
                  </div>
                  <div class="card-body">
                     <h5 class="card-title">{{ i.title }}</h5>
                     <p class="card-text">{{ i.text }}</p>
                     {% if i.category.title == "free" %}
                     <p class="card-text text-success fs-3">Bedava</p>
                     {% else %}
                     <p class="card-text text-success fs-3">₺{{ i.price }}</p>
                     {% endif %}
                     <a href="#!" class="btn btn-primary">Button</a>
                  </div>
               </div>
            </div>
            {% endfor %}
               
         </div>
      
         <div class="col-3">
            <h3 class="mb-3 mt-4">Kategori</h3>
            <ol class="list-group list-group-light list-group-numbered">
               
               {% for i in category %}
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <a href="/category/{{ i.title }}" class="ms-2 me-auto">
                     <div class="fw-bold">{{ i.title }}</div>
                  </a>
                  <span class="badge badge-primary rounded-pill">14</span>
               </li>
               {% endfor %}
                  
            </ol>
         </div>
      </div>
   </div>
</main>
{% endblock main %}
   

